@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
  
body {
  background-image: url('../images/bg.webp');
  background-repeat: no-repeat;
  height: 100vh;
}

/* container for guess game and contact form */
.game-container {
  font-size: 1.5rem;
  display: inline-table;
  text-align: center;
  height: 30vh;
  width: 40%;
  position: absolute;
  left: 30%;
  top: 10%;
  border: 2px solid #EAC7C7;
  background-image: linear-gradient(to right top, #b0a8b9, #d0b0bc,
                       #e8bcb4, #ebd0ac, #d7e9b9);
  border-radius: 10px;
}

/* guess number game top */
.top {
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}
  
.top p {
  background-color: #CD0404;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  margin-left: 20px;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
}

#reset {
  font-size: 1.5rem;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1rem;
  background: #CD0404;
  border: solid #171d21 2px;
  text-decoration: none;
}
  
#reset:hover {
  background: #1A0000;
  text-decoration: none;
}

/* guess number main container */
#message {
  text-align: center;
  color: #170055;
  font-size: 1.8rem;
  font-weight: bold;
}
  
#image {
  width: 100%;
  height: 380px;
}
  
.game-container p, button {
  margin: 1% 2%;
}
  
.guess {
  display: flex;
  justify-content: center;
}

.guess label {
  display: none;
}

input[type=number] {
  text-align: center;
  font-size: 1.5rem;
  width: 10%;
  padding: 3px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

#check {
  background-image: -webkit-linear-gradient(top, #170055, #480032);
  background-image: -moz-linear-gradient(top, #170055, #480032);
  background-image: -ms-linear-gradient(top, #170055, #480032);
  background-image: -o-linear-gradient(top, #170055, #480032);
  background-image: linear-gradient(to bottom, #170055, #480032);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
  
#check:hover {
  background: #007965;
  text-decoration: none;
}

.guess-score {
  font-weight: bold;
}

/* footer */
#footer {
  position:fixed;
  width: 100%;
  bottom: 0px;
  padding: 2%;
  text-align: center;
  background-color: white;
  margin-top: auto;
}

.footer-icon {
  padding: 0 4% 1% 0;
  color: #42032C;
}
  
.footer-icon:hover {
  font-size: 3em;
  font-size: 2.5em;
}
  
#footer p {
  padding-top: 30px;
  padding-right: 4%;
  font-size: 1.25em;
}

/* Quiz page style */
.quiz-game {
  display: inline-table;
  height: 30vh;
  width: 40%;
  position: absolute;
  left: 30%;
  top: 20%;
  border: 2px solid #EAC7C7;
  background-image: linear-gradient(to right top, #b0a8b9, 
                  #d0b0bc, #e8bcb4, #ebd0ac, #d7e9b9);
  border-radius: 10px;
}

.score p{
  background-image: linear-gradient(to left top, #b0a8b9, #d0b0bc, #e8bcb4, #ebd0ac, #d7e9b9);
  margin: 20px 0px;
  font-size: 1.5rem;
  color: #42032C;
}

.progress {
  text-align: center;
  font-weight: bold;
  margin: 2% 0%;
}
 
#question {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.quiz-game li {
  list-style-type: none;
  border: 1px solid #EAC7C7;
  font-size: 1.25rem;
  padding: 10px;
}

#progress-bar {
  width: 100%;
  height: 30px;
  border: 2px solid #42032C;
}
  
#progress-line {
  color: #42032C;
  height: 28px;
  width: 0%;
  background-image: linear-gradient(to right top, #b0a8b9, 
                    #d0b0bc, #e8bcb4, #ebd0ac, #d7e9b9);
  display: flex;
  flex-direction: row-reverse;
  padding-top: 4px;
}

.submit-btn {
  background-image: -webkit-linear-gradient(top, #170055, #480032);
  background-image: -moz-linear-gradient(top, #170055, #480032);
  background-image: -ms-linear-gradient(top, #170055, #480032);
  background-image: -o-linear-gradient(top, #170055, #480032);
  background-image: linear-gradient(to bottom, #170055, #480032);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #171d21 2px;
  text-decoration: none;
}
  
.submit-btn:hover {
  background: #144d38;
  text-decoration: none;
}

/* Contact page style */
.form-border {
  padding: 1%;
}

.field {
  display: block;
  width: 100%;
  padding: 2%;
  border-radius: 10px;
  margin: 1% 0;
}

.contact-form {
  font-size: 1.5rem;
}

.contact-form h2 {
  margin-bottom: 1%;
}

textarea {
  resize: vertical;
}

#send-message {
  background-image: -webkit-linear-gradient(top, #170055, #480032);
  background-image: -moz-linear-gradient(top, #170055, #480032);
  background-image: -ms-linear-gradient(top, #170055, #480032);
  background-image: -o-linear-gradient(top, #170055, #480032);
  background-image: linear-gradient(to bottom, #170055, #480032);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#send-message:hover {
  background: #144d38;
  text-decoration: none;
}

/* page 404 */
#not-found {
  text-align: center;
  color: #ffffff;
  font-weight: 800;
}

.error-text {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 1.25em;
  background-color: #DC3535;    
}

.error-container {
  display: flex;
  justify-content: center;
}

.image-container {
  padding: 5px;
  border-radius: 50%;
}

.error-image {
  height: 350px;
}

#central-image {
  border-radius: 50%;
}

.back-btn {
  background-image: -webkit-linear-gradient(top, #170055, #480032);
  background-image: -moz-linear-gradient(top, #170055, #480032);
  background-image: -ms-linear-gradient(top, #170055, #480032);
  background-image: -o-linear-gradient(top, #170055, #480032);
  background-image: linear-gradient(to bottom, #170055, #480032);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.back-btn:hover {
  background: #144d38;
  text-decoration: none;
}

/* media queries*/
@media screen and (max-width: 950px) {
  /* guess media */
  .game-container {
    height: 50vh;
    width: 70%;
    left: 16%;
    top: 20%;
  }
  
  /* quiz media */
  .quiz-game {
    height: 50vh;
    width: 70%;
    left: 16%;
    top: 20%;
  }
  
  #question {
    font-size: 2.5rem;
  }
  
  .quiz-game li {
    font-size: 2rem;
    padding: 15px;
  }
   
  .submit-btn {
    font-size: 30px;
    margin-top: 5%;
  }

  /* error page */
  #not-found {
    position: relative;
    top: 25%;
  }

  .image-container {
    flex: 33.33%;
    padding: 0;
  }
  
  .error-image {
    height: 250px;
  }
}

@media screen and (max-width: 420px) {
  /* guess media */
  .game-container {
    position: relative;
    margin-top: 15%;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  /* quiz media */
  .quiz-game {
    position: relative;
    margin-top: 4%;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  #question {
    font-size: 2rem;
  }
  
  .quiz-game li {
    font-size: 1.5rem;
  }
   
  .submit-btn {
    font-size: 20px;
  }

  /* error page */
  #not-found {
    top: 0;
  }

  .error-container {
    flex-direction: column;
  }

  .error-image {
    height: 150px;
  }
}

@media screen and (max-width: 320px) {
  /* guess media */
  .game-container {
    position: relative;
    width: 100%;
    margin-top: 5%;
    top: 0;
    left: 0;
  }
  
  #image {
    height: 250px
  }

  /* quiz media */
  .quiz-game {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  #question {
    font-size: 1.2rem;
  }
  
  .quiz-game li {
    font-size: 1.2rem;
    padding: 2%;
  }
   
  .submit-btn {
    font-size: 15px;
  }

  /* error page */
  .error-image {
    height: 100px;
  }
}